<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Color Your Closet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <header>
    <a href="{{ url_for('home_page') }}" class="logo-link">
      <div class="logo">COLOR YOUR CLOSET</div>
    </a>
    <nav>
      <a href="/learn/1a">Monochrome</a>
      <a href="/learn/2a">Complementary</a>
      <a href="/learn/3a">Triadic</a>
      <a href="/learn/4a">Tetradic</a>
      <a href="/quiz/1">Quiz</a>
    </nav>
  </header>
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>


