<!--this is page two of each lesson--> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ lesson.theory }} Fashion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <header>
    <div class="logo">Color Your Closet</div>
    <nav>
      <a href="/learn/1a">Monochrome</a>
      <a href="/learn/2a">Complementary</a>
      <a href="/learn/3a">Triadic</a>
      <a href="/learn/4a">Tetradic</a>
      <a href="/quiz/1">Quiz</a>
    </nav>
  </header>
  <main>
    <div class="title">{{ lesson.theory | upper }}</div>

    <div class="text-box">
      <ul>
        {% for line in lesson.content %}
          <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="title">EXAMPLES: {{ lesson.bases[0] }}</div>
    <div class="color-examples">
      {% for color in lesson.colors_1 %}
        <div class="color-box" style="background-color: {{ color }};"></div>
      {% endfor %}
    </div>

    <div class="title">EXAMPLES: {{ lesson.bases[1] }}</div>
    <div class="color-examples">
      {% for color in lesson.colors_2 %}
        <div class="color-box" style="background-color: {{ color }};"></div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
